.box-layout {
    align-items: center;
    background: url("/images/simple.jpg") ;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}


.box-bg {
    align-items: center;
    background: url("/images/404.png") ;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-bg__loginPage {
    color: white;
    text-decoration: none!important;
    margin-top: -25rem;
    padding: 10rem;

    &:hover {
        color: #fff;
    }
}


.box-layout__box {
    background: fade-out($color: white, $amount: .15);
    border-radius: 3px;
    padding: $lSize $mSize;
    text-align: center;
    width: 25rem;
}


.box-layout__title {
    margin: 0 0 $mSize 0;
    line-height: 1;
}