.button {
    background: $blueLight;
    border: none;
    border-radius: 0;   

    color: #fff;
    display: inline-block;

    font-size: 1.8rem;
    font-weight: 300;

    margin-bottom: $sSize;
    margin-top: $sSize;

    line-height: 1.3;
    padding: 1.4rem;
    text-decoration: none!important;

    &:hover {
        color: #fff;
    }
}


.buttonLogin {
    margin-left: auto;
    margin-right: auto;

    display: flex;

    flex-direction: column;  /* make main axis vertical */
    //justify-content: center; /* center items vertically, in this case */
    align-items: center;    
    //align-content: center;
    justify-content: space-between;
}

.button--link {
    background: none;
    color: white;
    &:hover {
      transition: all .2s ease-out;
      color: darken($offWhite, 20%);
      transform: scale(1.1);
    }
}


.button--secondary {
    background: #888;
    &:hover {
        background-color: darken(#888, 10) !important;
    }
}


.button--important {
    background: #9c1a1a;
}
  
.button--with-icon {
    width: 50%;
    margin: $sSize 0 0 0;
}


.button--showall {
    border: none;
    border-radius: 0;
    color: white;
    font-size: $font-size-large;
    font-weight:$s-weight;
    line-height: 1;
    padding: $sSize;
    margin-bottom: $sSize;
    margin-top: $sSize;
    background: blueLight;
    width: 100%;
    &:hover {
      background: darken($blueLight, 5);
    }
  }


  .botaoMargin {
    margin-left: auto;
    margin-right: auto;

    display: flex;

    flex-direction: column;  /* make main axis vertical */
    //justify-content: center; /* center items vertically, in this case */
    align-items: center;    
    //align-content: center;
    justify-content: space-between;
  }