.button {
    background: $blueLight;
    border: none;
    border-radius: 0;   

    color: #fff;
    display: inline-block;

    font-size: 1.8rem;
    font-weight: 300;

    margin-bottom: $sSize;
    margin-top: $sSize;

    line-height: 1;
    padding: $sSize;
    text-decoration: none!important;

    &:hover {
        color: #fff;
    }
}


.button--link {
    background: none;
    color: white;
    &:hover {
      transition: all .2s ease-out;
      color: darken($offWhite, 20%);
      transform: scale(1.1);
    }
}


.button--secondary {
    background: #888;
    &:hover {
        background-color: darken(#888, 10) !important;
    }
}


.button--important {
    background: #9c1a1a;
}
  
.button--with-icon {
    width: 100%;
    margin: $sSize 0 0 0;
    display: flex;
    justify-content: space-between;
}


.button--showall {
    border: none;
    border-radius: 0;
    color: white;
    font-size: $font-size-large;
    font-weight:$s-weight;
    line-height: 1;
    padding: $sSize;
    margin-bottom: $sSize;
    margin-top: $sSize;
    background: blueLight;
    width: 100%;
    &:hover {
      background: darken($blueLight, 5);
    }
  }