.footer {
    background: darken($darkblue, 10%);
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
.footer__message {
    color: darken(white,30%);
    a {
      color: darken(white,30%);
    }
  }