// .header {
//     background: $darkblue;
// }
  

// .header__content {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//     padding: $sSize 0;
// }
  
// .header__title {
//     color: white;
//     text-decoration: none!important;
  
//     h1 {
//       margin: 0;  
//     }

//     &:hover {
//         color: #fff;
//     }
// }
  
  
// .header__user {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
  
// .header__user-name {
//    color: white;
//    font-size: $font-size-small;
//    margin-right: 1.8rem;
// }
  
.header__user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

// .header__language{
//     padding: 0 1.5rem;
// }




.header{
    background: $darkblue;
}
  
.header__title{
    color: white;
    text-decoration: none!important;
    h1{
      margin: 0;
    }

    &:hover {
        color: #fff;
    }
}
  
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $sSize 0;
}
  
.header__language{
    padding: 0 1.5rem;
}
  
.header__user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.header__user__info{
    display: flex;
    flex-direction: column;
}
  
.header__user__displayname{
    color: white;
    font-weight: bold;
    padding: 1rem 0 0 1rem;
}