.text-input {
    border: 1px solid #caccdc;
    height: 50px;
    padding: $sSize;
    font-size: 1.8rem;
    font-weight: 300;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}