.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $mSize;

    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $lSize;
    }
}

.input-group__item {
    margin-bottom: $sSize;
    margin-right: $sSize;

    @media(min-width: $desktop-breakpoint) {
        margin: 0 $sSize 0 0;
    }
}

