.page-header {
    background: $offWhite;
    padding: $lSize 0;
    margin: 0;
    margin-bottom: $lSize;
}


.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: bold;
    }
}


.page-header__action {
    margin-top: $mSize;
}


.header-filter-message {
    padding-top: .4rem;
    > * {
      color: #777474;
      font-size: $mSize*1.2;
      font-style: italic;
      margin-left: $mSize;
      @media(max-width: $desktop-breakpoint) {
        margin-left: 0;
      }
      > * {
        font-weight: bold;
      }
    }
  }