// Colors
$darkGrey: #333333;
$blueLight: #1c88bf;
$darkblue: #364051;


// Spacing
$sSize: 1.2rem;
$mSize: 1.6rem;
$lSize: 3.2rem;
$xlSize: 4.8rem;


// Desktop Breakpoint
$desktop-breakpoint: 45rem;