// Colors
$darkGrey: #333333;
$blueLight: #1c88bf;
$darkblue: #364051;
$offWhite: #f7f7f7;
$grey: #666;


// Spacing
$sSize: 1.2rem;
$mSize: 1.6rem;
$lSize: 3.2rem;
$xlSize: 4.8rem;


// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


// Desktop Breakpoint
$desktop-breakpoint: 45rem;